---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/sections-index/HeroSection.astro";
import ContactSection from "../components/sections-index/ContactSection.astro";
import IconCardsSection from "../components/sections-index/IconCardsSection.astro";
import AboutUsSection from "../components/sections-index/AboutUsSection.astro";
import BrandLogosSection from "../components/sections-index/BrandLogosSection.astro";

const pageTitle = "Inicio";
---

<Layout title={pageTitle}>
	<main>
		<!-- Hero: Video principal -->
		<HeroSection />

		<!-- Secci贸n Icon Cards -->
		<IconCardsSection />

		<!-- Secci贸n About Us -->
		<AboutUsSection />

		<!-- Secci贸n Logos de Marcas -->
		<BrandLogosSection />

		<!-- Secci贸n de Contacto -->
		<ContactSection />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 12em;
	}
</style>
