---
import Layout from "../layouts/Layout.astro";
import IconCard from "../components/IconCard.astro";
import VideoCard from "../components/VideoCard.astro";

const pageTitle = "Inicio";
---

<Layout title={pageTitle}>
	<main>
		<div class="video-container">
			<video class="video" autoplay loop muted>
				<source src="/videos/video.mp4" type="video/mp4" />
			</video>
			<div class="video-overlay">
				<h3>andresramos</h3>
			</div>
		</div>
	</main>

	<section class="icon-cards">
		<IconCard title="Prueba" icon="/images/image.jpg" />
		<IconCard title="Prueba" icon="/images/image.jpg" />
		<IconCard title="Prueba" icon="/images/image.jpg" />
		<IconCard title="Prueba" icon="/images/image.jpg" />
	</section>
	<section></section>
	<section></section>
	<section class="hero">
		<div class="overlay">
			<div class="content">
				<p>Lorem ipsum dolor sit amet.</p>
				<h3>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
				</h3>
				<button>Contactar</button>
			</div>
		</div>
	</section>
</Layout>

<style>
	/* Contenedor principal del video */
	.video-container {
		position: relative;
		width: 100%;
		height: 90vh;
		overflow: hidden;
	}

	/* Video como fondo */
	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	/* Superposición para contenido encima del video */
	.video-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		background: rgba(
			0,
			0,
			0,
			0.4
		); /* Fondo semitransparente para resaltar el texto */
		text-align: center;
	}

	/* Estilo del h3 */
	.video-overlay h3 {
		font-size: 2.5rem;
		font-weight: bold;
		margin: 0;
	}
	.icon-cards {
		display: flex;
		height: 30vh;
		justify-content: center;
		align-items: center;
		gap: 12em;
		padding: 3em 0;
	}

	/* Estilos principales */
	.hero {
		position: relative;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.overlay {
		width: 75%;
		height: 40%;
		background:
			linear-gradient(
				rgba(0, 0, 0, 0.5),
				/* Fondo negro con 30% de transparencia */ rgba(0, 0, 0, 0.5)
			),
			url("/images/example-s3.jpg") no-repeat center center/cover;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
	}

	.content {
		text-align: center;
		color: #fff;
	}

	.content p {
		font-size: 1.2rem;
		margin-bottom: 1rem;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1.5px;
	}

	.content h3 {
		font-size: 2.5rem;
		margin-bottom: 2rem;
		font-weight: 700;
		line-height: 1.4;
	}

	.content button {
		background: #fff;
		color: #000;
		padding: 0.8rem 1.5rem;
		border: none;
		border-radius: 25px;
		font-size: 1rem;
		font-weight: bold;
		cursor: pointer;
		transition:
			background 0.3s ease,
			transform 0.3s ease;
	}

	.content button:hover {
		background: #f0f0f0;
		transform: scale(1.05);
	}
</style>
